* {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid white;
}

.h1 {
  color: aqua;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.container {
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.para {
  color: orange;
}

.subtext {
  color: greenyellow;
}
