* {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid white;
}

.h1 {
  color: aqua;
  display: flex;
}

.container {
  text-align: center;
  align-items: ;
  align-content: space-evenly;
}

.para {
  color: orange;
}

.subtext {
  color: greenyellow;
}
